<section class="container">
  <header class="row">
    <section class="col-lg-12">
      <h1 class="page-header">Blog O' Fitz
        <small>Blog's and Tips</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Blog O'Fitz</li>
      </ol>
    </section>
  </header>
    <article class="row">
        <aside class="col-md-1">
            <p><i class="fa fa-cogs fa-4x"></i></p>
            <p>April 3, 2015</p>
        </aside>
        <header class="col-md-6">
            <h3><a href="#/blog/post">Color and Screen Calabration</a></h3>
            <p>Take a look into my thoughts on Design Workflow and the need to meet industry standards for correcting color output for Graphic Design</p>
            <a class="btn btn-primary" href="#/blog/post"><i class="fa fa-lightbulb-o"></i> Learn More <i class="fa fa-caret-right"></i></a>
        </header>
        <aside class="col-md-5">
            <a href="#/blog/post">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </aside>
    </article>

    <hr>

    <article class="text-center">
      <h1><i class="fa fa-smile-o fa-1x"></i> More Posts to come soon <i class="fa fa-smile-o fa-1x"></i></h1>
    </article>

    <hr>

    <footer class="row">
        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>
    </footer>
</section>
<!-- /.container -->
